<%- include('./partials/alertBar.ejs')%>  
<%- include('./partials/header.ejs')%>     
<div class="leftContainer">
</div>
<div class="middleContainer">
    <div>
      <h3>About us</h3>
      <br>
      <p>We are a group of UNCC Alumni that love to put on events on and off campus!</p>
      <p>Feel free to connect with us on Facebook and Twitter!</p>
    </div>
</div>  
<div class="rightContainer"></div>

<%- include('./partials/footer.ejs')%>     