<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/connections.css">
    <link rel="stylesheet" href="/Styles/header.css">
    <link rel="stylesheet" href="/Styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Events</title>
</head>
<body>
    <div class="grid-container">
      <div class="header">
        <a href="index.html"><img src="/IMG/CharlotteC.png" class="navBarLogo" alt="UNCC Logo"></a>
        <h2 class="title">UNCC Alumni Events</h2>
        <nav>
            <ul class="userSpecificNav">
                    <li><a href="newConnection.html">Create New Event</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
            </ul>
            <ul class="generalSiteNav">
                    <li><a href="connections.html">Upcoming Events</a></li>
            </ul>
        </nav>
      </div>
      
      <div class="leftContainer">
        <div class="displayEvents">
            <h3>Professional</h3>
            <ul class="events">
                <li><a href="connection.html">Alumni Career Fair</a></li>
                <li><a href="connection.html">LinkedIn Connect Party</a></li>
                <li><a href="connection.html">Meet and Eat with Job Co.</a></li>
            </ul>
            <h3>Social</h3>
            <ul class="events">
                <li><a href="connection.html">2022 Alumni Tailgate</a></li>
                <li><a href="connection.html">4th Annual Class of 2018 Hot Dog Cookout</a></li>
                <li><a href="connection.html">UNCC Family Weekend</a></li>
            </ul>
        </div>
      </div>
      <div class="middleContainer">
      </div>  
      <div class="rightContainer"></div>
      
      <footer class="footer">
        <nav>
            <ul class="footerLeftNav">
                <li>©UNCC Alumni Events</li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <div class="footerRightNav">
                <span class="footerTwitter"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></span>
                <span class="footerFacebook"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a></span>
            </div>
        </nav>
      </footer>
      </div>
</body>
</html>