<%- include('./partials/header.ejs')%>     
<div class="leftContainer">
</div>
<div class="middleContainer">
    <div>
        <h3><%= error.status %> Error</h3> 
        <p><%= error.message %></p>
    </div>
</div>  
<div class="rightContainer"></div>
<%- include('./partials/footer.ejs')%>