<%- include('./partials/header.ejs')%>     
      <div class="leftContainer">
      </div>
      <div class="middleContainer">
          <div>
            <h3>Welcome to the UNCC Alumni Event Planning Site</h3>
            <br>
            <p>Here you can create or join an upcoming UNCC event with fellow alumni! If you do not have an</p>
            <p>account click the sign up button and log in. Otherwise click "Create New Event" to start planning</p>
            <p>your next Alumni get together!</p>
          </div>
      </div>  
      <div class="rightContainer"></div>
<%- include('./partials/footer.ejs')%>            