<%- include('../partials/header.ejs')%>    
      <div class="leftContainer">
      </div>
      <div class="middleContainer">
          <form class="formContainer" action="../Views/connections.html">
            <h3 class="topicTitle">Topic</h3>
            <input type="text" placeholder="Topic">
            <h3 class="titleTitle">Title</h3>
            <input type="text" placeholder="Title">
            <h3 class="hostTitle">Host</h3>
            <input type="text" placeholder="Host">
            <h3 class="detailsTitle">Details</h3>
            <input type="text" placeholder="Details">
            <h3 class="locationTitle">Location</h3>
            <input type="text" placeholder="Location">
            <h3 class="dateTitle">Date</h3>
            <input type="date">
            <h3 class="startTitle">Start</h3>
            <input type="time">
            <h3 class="endTitle">End</h3>
            <input type="time">
            <h3 class="imageTitle">Image URL</h3>
            <input type="text" placeholder="Image URL">
            <input class="submitEventForm" type="submit" value="Submit">
          </form>
      </div>  
      <div class="rightContainer"></div>
<%- include('../partials/footer.ejs')%>